@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
}

:root {
  --dd-overlay: rgba(0, 0, 0, .75);
  --dd-background: #FFFFFF;
  --dd-text1: #333333;
  --dd-text2: #FFFFFF;
  --dd-primary: #FD4741;
  --dd-gradient: linear-gradient(45deg, #e61e68 0%, #FD4741 100%);
  --dd-radius: .35em;
  --dd-shadow: 0 0 2.5em rgba(0, 0, 0, 0.1);
  --dd-range: rgba(0, 0, 0, 0.05);
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0D0D0D;
}

.header__navbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__items {
  gap: 30px;
}

.img--size {
  width: 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.img--size:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__sidebar--show {
  display: none !important;
}

:root {
  --dd-overlay: rgba(0, 0, 0, .75);
  --dd-background: #FFFFFF;
  --dd-text1: #333333;
  --dd-text2: #FFFFFF;
  --dd-primary: #FD4741;
  --dd-gradient: linear-gradient(45deg, #e61e68 0%, #FD4741 100%);
  --dd-radius: .35em;
  --dd-shadow: 0 0 2.5em rgba(0, 0, 0, 0.1);
  --dd-range: rgba(0, 0, 0, 0.05);
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  block-size: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .register {
    block-size: auto;
  }
}

@media screen and (max-width: 1280px) and (min-width: 0.768px) {
  .register {
    block-size: auto;
  }
}

.register__link--colorTyC {
  color: #fff;
  font-weight: 700;
}

.register__link--colorLoginLink {
  color: #fff;
  font-weight: 700;
}

.register__bg {
  background-image: url("../../images/Fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.register__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  gap: 40px;
}

.register__texto--color {
  color: #fff;
  font-weight: 700;
}

.register__titulo {
  font-size: 3rem;
  color: #fff;
}

.register__parrafo {
  font-weight: 300;
}

.form-label {
  color: #fff;
  font-weight: 500;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(163deg, #ff9100 0%, rgba(0, 0, 0, 0.751138) 0%);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}

@media screen and (min-width: 2560px) {
  .formContainer {
    width: 30%;
  }
}

.alreadyRegistered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: alreadyRegistered;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.containerFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  text-align: center;
}

.checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.containerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.fields {
  width: 100%;
  height: 30px;
}

.checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__email {
  width: 100%;
}

.login__password {
  width: 100%;
}

.checkbox {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.reservas__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
}

.reservas__agendamiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.cards__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.text-color {
  font-weight: 600;
  color: black;
}

body {
  background: #ddeefc;
  font-family: 'Lato', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.tarjeta.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tarjeta > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
          box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/
.tarjeta .delantera {
  width: 100%;
  background: url(../images/bg-tarjeta/bg-tarjeta-02.jpg);
  background-size: cover;
}

.delantera .logo-marca {
  text-align: right;
  min-height: 50px;
}

.delantera .logo-marca img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 80px;
}

.delantera .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.delantera .grupo .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.delantera .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
  background: url(../images/bg-tarjeta/bg-tarjeta-02.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.trasera .barra-magnetica {
  height: 40px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.trasera .datos {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trasera .datos p {
  margin-bottom: 5px;
}

.trasera .datos #firma {
  width: 70%;
}

.trasera .datos #firma .firma {
  height: 40px;
  background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
  line-height: 40px;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #000;
  font-size: 30px;
  padding: 0 10px;
  text-transform: capitalize;
}

.trasera .datos #ccv {
  width: 20%;
}

.trasera .datos #ccv .ccv {
  background: #fff;
  height: 40px;
  color: #000;
  padding: 10px;
  text-align: center;
}

.trasera .leyenda {
  font-size: 14px;
  line-height: 24px;
}

.trasera .link-banco {
  font-size: 14px;
  color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #2364d2;
  color: #fff;
  position: relative;
  top: -25px;
  z-index: 3;
  border-radius: 100%;
  -webkit-box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
          box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
  padding: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: none;
  cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
  background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
  background: #fff;
  width: 100%;
  max-width: 700px;
  padding: 150px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top: -150px;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path .3s ease-out;
  transition: -webkit-clip-path .3s ease-out;
  transition: clip-path .3s ease-out;
  transition: clip-path .3s ease-out, -webkit-clip-path .3s ease-out;
}

.formulario-tarjeta.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
  display: block;
  color: #7d8994;
  margin-bottom: 5px;
  font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
  border: 2px solid #CED6E0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
  border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
  outline: #040404;
  -webkit-box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
          box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formulario-tarjeta .expira {
  width: 100%;
}

.formulario-tarjeta .ccv {
  min-width: 100px;
}

.formulario-tarjeta .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.formulario-tarjeta select {
  -webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
  position: absolute;
  color: #CED6E0;
  top: 18px;
  right: 15px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
  color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  background: #2364d2;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
          box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
  background: #1850b1;
}
/*# sourceMappingURL=main.css.map */