@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
}

:root {
  --dd-overlay: rgba(0, 0, 0, .75);
  --dd-background: #FFFFFF;
  --dd-text1: #333333;
  --dd-text2: #FFFFFF;
  --dd-primary: #FD4741;
  --dd-gradient: linear-gradient(45deg, #e61e68 0%, #FD4741 100%);
  --dd-radius: .35em;
  --dd-shadow: 0 0 2.5em rgba(0, 0, 0, 0.1);
  --dd-range: rgba(0, 0, 0, 0.05);
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0D0D0D;
}

.header__navbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__items {
  gap: 30px;
}

.img--size {
  width: 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.img--size:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__sidebar--show {
  display: none !important;
}

:root {
  --dd-overlay: rgba(0, 0, 0, .75);
  --dd-background: #FFFFFF;
  --dd-text1: #333333;
  --dd-text2: #FFFFFF;
  --dd-primary: #FD4741;
  --dd-gradient: linear-gradient(45deg, #e61e68 0%, #FD4741 100%);
  --dd-radius: .35em;
  --dd-shadow: 0 0 2.5em rgba(0, 0, 0, 0.1);
  --dd-range: rgba(0, 0, 0, 0.05);
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  block-size: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .register {
    block-size: auto;
  }
}

@media screen and (max-width: 1280px) and (min-width: 0.768px) {
  .register {
    block-size: auto;
  }
}

.register__link--colorTyC {
  color: #fff;
  font-weight: 700;
}

.register__link--colorLoginLink {
  color: #fff;
  font-weight: 700;
}

.register__bg {
  background-image: url("../../images/Fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.register__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  gap: 40px;
}

.register__texto--color {
  color: #fff;
  font-weight: 700;
}

.register__titulo {
  font-size: 3rem;
  color: #fff;
}

.register__parrafo {
  font-weight: 300;
}

.form-label {
  color: #fff;
  font-weight: 500;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(163deg, #ff9100 0%, rgba(0, 0, 0, 0.751138) 0%);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}

@media screen and (min-width: 2560px) {
  .formContainer {
    width: 30%;
  }
}

.alreadyRegistered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: alreadyRegistered;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.containerFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  text-align: center;
}

.checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.containerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.fields {
  width: 100%;
  height: 30px;
}

.checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__email {
  width: 100%;
}

.login__password {
  width: 100%;
}

.checkbox {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.reservas__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
}

.reservas__agendamiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.cards__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}
/*# sourceMappingURL=main.css.map */