//paleta de colores
$azul:#05DBF2;
$negro: #0D0D0D;
$gris: #999999;
$blanco: #fff;
$morado: #481368;
$indigo: #6610f2;
$purple: #5333ff;

$background-gradient: linear-gradient(163deg, rgba(255,145,0,1) 0%, rgba(0,0,0,0.7511379551820728) 0%);




/* Color Theme Swatches in Hex */
$UI_UX-1-hex: #84F216;
$UI_UX-2-hex: #33590C;
$UI_UX-3-hex: #84D904;
$UI_UX-4-hex: #7BBF15;
$UI_UX-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$UI_UX-1-rgba: rgba(132,242,21, 1);
$UI_UX-2-rgba: rgba(50,89,12, 1);
$UI_UX-3-rgba: rgba(131,216,4, 1);
$UI_UX-4-rgba: rgba(123,191,21, 1);
$UI_UX-5-rgba: rgba(242,242,242, 1);

/* Color Theme Swatches in HSLA */
$UI_UX-1-hsla: hsla(90, 89, 51, 1);
$UI_UX-2-hsla: hsla(90, 75, 19, 1);
$UI_UX-3-hsla: hsla(84, 96, 43, 1);
$UI_UX-4-hsla: hsla(84, 80, 41, 1);
$UI_UX-5-hsla: hsla(0, 0, 95, 1);