.reservas__grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto;
}

.reservas__agendamiento{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cards__grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}